<div id="<%= dom_id experiment %>">
  <p>
    <strong>Title:</strong>
    <%= experiment.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= experiment.description %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= experiment.key %>
  </p>

  <p>
    <strong>Javascript:</strong>
    <%= experiment.javascript %>
  </p>

  <p>
    <strong>Stylesheet:</strong>
    <%= experiment.stylesheet %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= experiment.approved %>
  </p>

  <p>
    <strong>Created by user:</strong>
    <%= experiment.created_by_user_id %>
  </p>

  <p>
    <strong>Updated by user:</strong>
    <%= experiment.updated_by_user_id %>
  </p>

</div>
