<%= form_with(model: experiment) do |form| %>
  <% if experiment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
        <% experiment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <label class="form-label"><%= form.label :title %></label>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-4">
    <label class="form-label"><%= form.label :description %></label>
    <%= form.text_area :description, class: 'form-control', rows: 5 %>
  </div>

  <div class="mb-4">
    <label class="form-label"><%= form.label :javascript %></label>
    <code><%= form.text_area :javascript, class: 'form-control', rows: 12 %></code>
  </div>

  <div class="mb-4">
    <label class="form-label"><%= form.label :stylesheet %></label>
    <code><%= form.text_area :stylesheet, class: 'form-control', rows: 12 %></code>
  </div>

  <div class="mb-4">

    <%= form.check_box :approved ,class: 'form-check-input'%>
    <label class="form-check-label"><%= form.label :approved %></label>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
